### Problem 6: Replace all NaN values in a specific column with the column mean.

In [12]:
import pandas as pd
import numpy as np

df = pd.read_csv("./catagorical_dataset.csv",na_values=[""])
column0 = df[df.columns[0]]
print(column0)

0       44.0
1       47.0
2       64.0
3       67.0
4        NaN
        ...
4995     NaN
4996     NaN
4997    92.0
4998    91.0
4999     NaN
Name: Feature1, Length: 5000, dtype: float64

In [13]:
npCol0 = column0.to_numpy()
print(npCol0)

[44. 47. 64. ... 92. 91. nan]

In [14]:
mean = np.nanmean(column0)
fillnan = np.where(np.isnan(column0), mean, column0)
print(fillnan)

[44.         47.         64.         ... 92.         91.
 48.10278746]

In [8]:
df[df.columns[0]] = fillnan
print(df)

       Feature1  Feature2  Feature3 Feature4  Feature5  Feature6  Feature7  \
0     44.000000  0.797417 -0.958091      NaN       NaN     158.0  1.490148
1     47.000000  0.026838 -0.244178        D       NaN       NaN  2.151535
2     64.000000  0.199990 -1.014799        B       0.0     474.0  1.410613
3     67.000000  0.474124  0.448040        B       NaN     166.0  0.635091
4     48.102787  0.598516  0.087839      NaN       0.0       NaN  0.392104
...         ...       ...       ...      ...       ...       ...       ...
4995  48.102787  0.819440  0.415931        C       0.0       NaN  1.765590
4996  48.102787  0.032140 -1.445420        C       1.0       NaN  0.806246
4997  92.000000  0.263300  0.986722        C       NaN      78.0  1.326853
4998  91.000000  0.640986 -1.199847        A       0.0      51.0  0.312256
4999  48.102787  0.901570  1.836382      NaN       0.0       NaN  2.087461

      Feature8  Feature9  Feature10  Feature11 Feature12  Feature13  \
0     5.166124  2.277942        NaN          5         X          1
1     0.450312 -3.395356        NaN          3         X          0
2     6.786555 -3.070746        NaN          7         Z          0
3     1.937158 -0.246269   6.004975         20         X          0
4     4.010937  3.215086   2.891199          3         Z          0
...        ...       ...        ...        ...       ...        ...
4995  1.929735 -1.951884        NaN          1         Z          1
4996  8.765315 -1.866815        NaN          1         Y          0
4997  4.489722  1.720671   6.877962          1         X          0
4998  2.773963 -3.320704   6.138322          2         X          0
4999  6.854886 -0.259228   6.068139          6         X          0

      Feature14 Feature15  Feature16  Feature17 Feature18 Feature19  \
0     Category1   Option4   8.824345  11.711130       Yes       Low
1     Category1   Option2        NaN  13.355832       Yes       Low
2     Category1   Option2        NaN  13.449484       Yes    Medium
3     Category1   Option2        NaN   7.687652       Yes       Low
4     Category1   Option3  11.259371   6.807770       Yes       Low
...         ...       ...        ...        ...       ...       ...
4995  Category2   Option4        NaN  14.821501        No       Low
4996  Category3   Option4   6.368173   5.308922       Yes    Medium
4997  Category1   Option4   5.682022   9.508951       Yes    Medium
4998  Category1   Option3   4.574748   8.705127        No    Medium
4999  Category2   Option2  12.801075  14.686372       Yes      High

       Feature20
0            NaN
1            cat
2            dog
3            cat
4            cat
...          ...
4995         NaN
4996         NaN
4997         NaN
4998  some other
4999  some other

[5000 rows x 20 columns]

In [17]:
df[df.columns[0]].fillna(mean, inplace=True)
print(df)

       Feature1  Feature2  Feature3 Feature4  Feature5  Feature6  Feature7  \
0     44.000000  0.797417 -0.958091      NaN       NaN     158.0  1.490148
1     47.000000  0.026838 -0.244178        D       NaN       NaN  2.151535
2     64.000000  0.199990 -1.014799        B       0.0     474.0  1.410613
3     67.000000  0.474124  0.448040        B       NaN     166.0  0.635091
4     48.102787  0.598516  0.087839      NaN       0.0       NaN  0.392104
...         ...       ...       ...      ...       ...       ...       ...
4995  48.102787  0.819440  0.415931        C       0.0       NaN  1.765590
4996  48.102787  0.032140 -1.445420        C       1.0       NaN  0.806246
4997  92.000000  0.263300  0.986722        C       NaN      78.0  1.326853
4998  91.000000  0.640986 -1.199847        A       0.0      51.0  0.312256
4999  48.102787  0.901570  1.836382      NaN       0.0       NaN  2.087461

      Feature8  Feature9  Feature10  Feature11 Feature12  Feature13  \
0     5.166124  2.277942        NaN          5         X          1
1     0.450312 -3.395356        NaN          3         X          0
2     6.786555 -3.070746        NaN          7         Z          0
3     1.937158 -0.246269   6.004975         20         X          0
4     4.010937  3.215086   2.891199          3         Z          0
...        ...       ...        ...        ...       ...        ...
4995  1.929735 -1.951884        NaN          1         Z          1
4996  8.765315 -1.866815        NaN          1         Y          0
4997  4.489722  1.720671   6.877962          1         X          0
4998  2.773963 -3.320704   6.138322          2         X          0
4999  6.854886 -0.259228   6.068139          6         X          0

      Feature14 Feature15  Feature16  Feature17 Feature18 Feature19  \
0     Category1   Option4   8.824345  11.711130       Yes       Low
1     Category1   Option2        NaN  13.355832       Yes       Low
2     Category1   Option2        NaN  13.449484       Yes    Medium
3     Category1   Option2        NaN   7.687652       Yes       Low
4     Category1   Option3  11.259371   6.807770       Yes       Low
...         ...       ...        ...        ...       ...       ...
4995  Category2   Option4        NaN  14.821501        No       Low
4996  Category3   Option4   6.368173   5.308922       Yes    Medium
4997  Category1   Option4   5.682022   9.508951       Yes    Medium
4998  Category1   Option3   4.574748   8.705127        No    Medium
4999  Category2   Option2  12.801075  14.686372       Yes      High

       Feature20
0            NaN
1            cat
2            dog
3            cat
4            cat
...          ...
4995         NaN
4996         NaN
4997         NaN
4998  some other
4999  some other

[5000 rows x 20 columns]