### Problem 48: Demonstrate how to join this dataset with a hypothetical 'college_info' DataFrame (college name, location) on College_ID.

In [ ]:
# Write your code here